*.crt
*.pem
*.key
*.env
/.logs/app.log

/.logs/access.log
/.logs/error.log
/.nginx_logs/access.log
/.nginx_logs/error.log

/app/uploads/images/*

# dont ingore the following files

!/app/uploads/images/__placeholder__