.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    -ms-overflow-style: none !important;
  }

  .overlay::-webkit-scrollbar {
    display: none;
  }
  


  
  .popup {
    background-color: #0e0e11;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    height: 85vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #202026;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  
  .collection {
    color: #a0a0a0;
    margin: 5px 0 0;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .actionButton, .closeButton {
    background: none;
    border: none;
    color: #a0a0a0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .actionButton:hover, .closeButton:hover {
    color: white;
  }
  
  .content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .imageContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nftImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    min-width: 400px;
  }
  
  .detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #202026;
  }
  
  .tabs {
    display: flex;
    border-bottom: 1px solid #202026;
  }
  
  .tab {
    background: none;
    border: none;
    color: #a0a0a0;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .activeTab {
    color: #ff69b4;
    border-bottom: 2px solid #ff69b4;
  }
  
  .tabContent {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .tabContent::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  
  .attributesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .attributeItem {
    background-color: #202026;
    padding: 10px;
    border-radius: 5px;
  }
  
  .attributeType {
    font-size: 14px;
    margin: 0;
    color: #a0a0a0;
  }
  
  .attributeValue {
    font-size: 16px;
    color: white;
    margin: 5px 0;
  }
  
  .attributeRarity {
    font-size: 12px;
    margin: 0;
    color: #a0a0a0;
  }
  
  .accessList {
    list-style-type: none;
    padding: 0;
  }
  
  .accessListItem {
    padding: 5px 0;
    border-bottom: 1px solid #202026;
    color: #a0a0a0;
  }
  
  .accessListItem:last-child {
    border-bottom: none;
  }


  .detailsSection {
    margin-top: 20px;
    background-color: #202026;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .detailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .detailsHeader h3 {
    margin: 0;
    color: white;
  }
  
  .expandedIcon, .collapsedIcon {
    color: #a0a0a0;
  }
  
  .detailsContent {
    padding: 0 20px 15px;
  }
  
  .detailItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detailLabel {
    color: #a0a0a0;
  }
  
  .detailValue {
    color: white;
    text-align: right;
  }

  .descriptionSection {
    margin-bottom: 20px;
  }
  
  .descriptionSection h3 {
    color: white;
    margin-bottom: 10px;
  }
  
  .description {
    color: #a0a0a0;
    line-height: 1.5;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .actionButton2 {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .actionButton2:hover {
    background-color: #ff1493;
  }

  .accessDetailSection {
    background-color: #202026;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .accessDetailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    cursor: pointer;
  }
  
  .accessDetailHeader h3 {
    margin: 0;
    color: white;
  }
  
  .accessDetailContent {
    padding: 0 20px 15px;
  }
  
  .accessContent h3 {
    color: white;
    /* margin-bottom: 20px; */
  }
  
  /* Styles for the access list */
  .accessList {
    display: flex;
    flex-direction: column;
  }
  
  .accessListHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #a0a0a0;
    border-bottom: 1px solid #202026;
  }
  
  .accessListHeaderItem {
    flex: 1;
    font-weight: bold;
  }
  
  .accessListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202026;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .address {
    flex: 1;
    color: #a0a0a0;
    font-size: 14px;
    word-break: break-all;
  }
  
  .accessLevel {
    flex: 1;
    text-align: right;
    color: #ff69b4;
    font-size: 14px;
    position: relative;
    cursor: pointer;
  }
  
  .accessLevel::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: #202026;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    margin-bottom: 5px;
    z-index: 10;
    border: 1px solid #ff69b4;
  }
  
  .accessLevel:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  /* Optional: Adjustments for smaller screens */
  @media (max-width: 600px) {
    .accessListHeader,
    .accessListItem {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .accessLevel {
      text-align: left;
      margin-top: 5px;
    }
  }



  /* API Dialog Styles */
.apiDialogContent {
    padding: 24px;
    min-width: 400px;
    background-color: #121212;
    color: white;
  }
  
  .apiItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .apiLabel {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .apiValueContainer {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 4px;
    padding: 8px;
  }
  
  .apiValue {
    flex-grow: 1;
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .copyButton {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .copyButton:hover {
    background-color: #4a4a4a;
  }
  
  /* Test API Dialog Styles */
  .testApiDialogPaper {
    background-color: #121212 !important;
    color: white;
    border-radius: 10px !important;
    width: 50% !important;
    font-size: 15px !important;

  }
  
  .testApiDialogContent {
    padding: 24px;
    width: 90vw;
    max-width: 90%;
    height: auto;
    background-color: #121212;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .testApiDialogTitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .testApiLoadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .testApiResultPre {
    background-color: #1e1e1e;
    border-radius: 4px;
    padding: 15px;
    white-space: pre-wrap;
    word-break: break-word;
    max-height: calc(80vh - 100px);
    overflow-y: auto;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .testApiResultPre::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .testApiDialogContent p,
.testApiDialogContent span,
.testApiDialogContent div {
  font-size: 14px !important;
  line-height: 1.5;
  margin: 0 0 10px 0;
}

/* Style for code blocks within the pre element */
.testApiResultPre code {
  padding: 2px 4px;
  border-radius: 3px;
}
  /* Common Dialog Styles */
  .dialogPaper {
    background-color: #121212 !important;
    color: white;
    border-radius: 10px !important;
  }
  
  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .dialogClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888;
  }

  .listingStatusSection {
    background-color: #202026;
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 20px; */
    width: 90%;
    /* margin: 20px; */
    margin-top: 0px;
    margin-right: 0px;
    
}

.listingStatus {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #ffffff;
}

.ownerInfo {
    font-size: 14px;
    color: #a0a0a0;
    margin: 0 0 15px 0;
}

.ownerAddress {
    color: #ffffff;
    font-weight: bold;
}

.connectWalletButton {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.connectWalletButton:hover {
    background-color: #c2185b;
}
