.actionsGrid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  -ms-overflow-style: none !important;
  margin-right: 20px;
}

.actionsGrid::-webkit-scrollbar {
  display: none;
}

.actionCard {
  min-width: 300px;
  max-width: 200px;
  height: 300px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.actionCard:hover {
  transform: translateY(-5px);
}

.actionCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.actionCard:hover img {
  transform: scale(1.1);
}

.actionCardTitle {
  position: relative;
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* background: rgba(0, 0, 0, 0.7); */
  margin: 0;
  /* padding: 10px; */
  font-size: 1em;
  /* text-align: center; */
  color: white;
  /* transition: transform 0.3s ease; */
}

.actionCardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  transform: translateY(50%);
  transition: transform 0.3s ease;
}

/* .actionCard:hover .actionCardTitle {
  transform: translateY(-100%);
} */

.actionCard:hover .actionCardContent {
  transform: translateY(0);
}

.actionCardInfo {
  position: relative;
  margin-top: 10px;
  font-size: 0.9em;
  color: #ccc;
  /* align-items: center; */
}

.actionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(to right, black 0%, blue 25%, violet 75%, black 100%), rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

.actionsContainer .scrollArrowLeft,
.actionsContainer .scrollArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.actionsContainer .scrollArrowLeft {
  left: 10px;
}

.actionsContainer .scrollArrowRight {
  right: 10px;
}