  /* -------------------------------PROGRESSS ---------------------------------------------------------- */

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 650px;
    margin: 0 auto 2rem;
    /* margin-bottom: 20px ; */
    margin-top: -50px ;
  }
  
  .progress .circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #444;
    margin: 0 10px;
  }
  
  .progress .circle .label {
    color: #b5b5ba;
    font-size: 17px;
  }
  
  .progress .circle .title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #b5b5ba;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .progress .bar {
    flex: 1;
    height: 6px;
    background: #333;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
  }

  .progress .bar.active::after {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-mid3);
    animation: barFlow 1s forwards;
  }

  .progress.active{
    background-color: var(--gradient-mid3)
  }
  @keyframes barFlow {
    to {
      left: 0;
    }
  }
  
  .progress .bar.done,
  .progress .circle.done {
    background: var(--gradient-mid3);
  }

  .circle.active{
    background: var(--gradient-mid3);
  }
  
  .progress .bar.active {
    background: linear-gradient(
      to right,
      var(--gradient-mid3),
      #333
    );
    background-size: 200% 100%;
    animation: progressBarAnimation 1s linear infinite;
  }
  
  @keyframes progressBarAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .progress .circle.done .label,
  .progress .circle.active .label {
    color: #fff;
  }
  
  .progress .circle.done .title,
  .progress .circle.active .title {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .progress {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .progress .circle {
      margin: 10px 0;
    }
  
    .progress .bar {
      width: 100%;
      margin: 5px 0;
    }
  
    .progress .circle .title {
      position: static;
      transform: none;
      margin-top: 5px;
    }
  }