/* ProfileMenu.module.css */

.profileMenu {
    position: fixed;
    top: 90px; /* Added 'px' unit for 'top' */
    right: -300px;
    width: 300px;
    height: 80vh;
    background-color: #1a1a1a;
    transition: right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100 !important;
    border-radius: 20px;
}

.addressMenu {
    margin-left: 10px;
    color: white;
}

.menuHeader {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Optional: Align items vertically */
}

.largeProfileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px; /* Adjusted for better alignment */
}

.menuItems {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.menuItem {
    padding: 10px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.menuFooter {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.menuFooterButton {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Optional: Smooth hover transition */
}

.menuFooterButton:hover {
    background-color: #c0392b; /* Optional: Darken button on hover */
}

/* Optional: Define an 'open' state */
.open {
    right: 0;
    margin-right: 20px;
}


.profileButton {
    width: 100%;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* .profileButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
  } */

  .walletInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    background-color: #1f2422c2;
    border-radius: 10px;
    height: 15%;
  }
  
  .tronWallet {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    margin: 10px;
    /* margin-bottom: 0px; */
  }
  .tronBalance {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin: 10px;
  }
  .tronBalance img {
    margin-right: 16px;
    margin-left: 5px;


  }
  
  .walletStatus {
    margin-left: 10px;
    color: #4CAF50;
    font-size: 12px;
    margin-left: 30px;
  }

  .chainIcon{
    width: 10%;
  }

  .tronWallet img {
    width: 20px;
    height: 20px;
    margin-right: 19px;
    border-radius: 10px;
  }

  .activeStatus{
    border-radius: 5px;
    border: 1px #4CAF50;
  }

  .tronInfo{
    display: flex;
    flex-direction: column;
    color: white;
  }

  .addressMenusmall{
    font-size: 10px;
    margin: 0px !important;
    margin-top: 2px !important;
  }

  .Walletheader{
    font-size: 14px;
    color: white;
  }