.dialogContent {
    background-color: #121212 !important;
    color: white;
    padding: 24px !important;
  }
  
  .dialogTitle {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 1.5rem !important;
  }
  
  .loadingContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 200px !important;
  }
  
  .input {
    margin-bottom: 20px;
  }
  
  .inputText {
    color: white !important;
    background-color: #333 !important;
    margin-bottom: 20px !important;
  }
  
  .inputText:hover {
    background-color: #444 !important;
  }
  
  .inputLabel {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  
  .inputText fieldset {
    border-color: rgba(255, 255, 255, 0.23) !important;
  }
  
  .inputText:hover fieldset {
    border-color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .select {
    margin-bottom: 20px !important;
    color: white !important;
    background-color: #333 !important;
  }
  
  .select:before, .select:after {
    border-color: white !important;
  }
  
  .select svg {
    color: white !important;
  }
  
  .menuPaper {
    background-color: #333 !important;
    color: white !important;
  }
  
  .placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  
  .submitButton {
    background-color: #e91e63 !important;
    color: white !important ;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: background-color 0.3s !important;
  }
  
  .submitButton:hover {
    background-color: #ff1493;
  }

.dialogPaper {
    background-color: #121212 !important;
    color: white;
    border-radius: 10px !important;
  } 